/*Template Stylesheet for DBC Blog*/
body{
    background-color:#0D355A;
}

p {
    padding-left: 5px;
    padding-right: 5px;
}

#header{
    background-color:#D1E5E1;
    border-radius: 15px;
    /*curves all corners of div*/
    padding: 10px;
    max-width: 100%;

}

h1{
    font-family: Georgia, sans-serif;
    font-size: 36px;
    text-align:center;
    color: navy;
    margin-top: 20px;
}

#header li{
    display:inline;
    margin-top: -100px;

}

#header li a{
    color:#FFFFFF;
    text-decoration: none;
    padding: 5px;
    border: 3px solid #000000;
}

#header img{
    display:inline;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

#img1{
    margin-left: 45em;

}

#img2{
    margin-left:10px;
}

#img3{
    margin-left:10px;
}

#img4{
    margin-left:10px;
}

/*Left half of body
#left{
    float:left;
    width:20%;
    white-space: normal;
    margin-left: auto;
}(menu / about author)*/

/*Right half of body (blog post)*/
#right{
    width:70%;
    margin: auto;
    padding: 10px;
    position: relative;
}

h2{
    font-family: Georgia, Helvetica, sans-serif;
    font-size: 24px;
    text-align:center;
    padding: 10px;
}

#date{
    text-align:right;
    margin-top: -45px;
    margin-right: 20px;
    font-size: 16px;
}

#content {
    background-color: #FFFBDF;
    margin: 20px;
    padding: 40px;
    border: 3px solid #cdcdcd;
}

#content img {
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#footer{
    background-color:#D1E5E1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    clear: both;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    text-align: center;
    width: 100%;
}