/*Template Stylesheet for DBC Blog*/
body{
    background-color:#0D355A;
}

p {
    padding-left: 5px;
    padding-right: 5px;
}

#header{
    background-color:#D1E5E1;
    border-radius: 15px;
    margin: auto;
    max-width: 85%;
    padding: 10px;
}

h1{
    font-family: Georgia, sans-serif;
    font-size: 36px;
    text-align:center;
    color: navy;
    margin-top: 20px;
}

#header li{
    display:inline;
    margin-top: -100px;

}

#header li a{
    color:#1200B2;
    text-decoration: none;
    padding: 5px;
}

#header li a:visited {
    color: red;
}

#header img{
    display:inline;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

#img1{
    margin-left: 40em;

}

#img2{
    margin-left:10px;
}

#img3{
    margin-left:10px;
}

#img4{
    margin-left:10px;
}


/*Right half of body (blog post)*/
#right{
    width:70%;
    margin: auto;
    padding: 10px;
    position: relative;
}

h2 {
    /*consider removing background color and putting the h2 inside the content div in the html*/
    background-color: #D1E5E1;
    font-family: Georgia, Helvetica, sans-serif;
    font-size: 24px;
    padding: 5px;
    text-align:center;
}

#date{
    text-align:right;
    margin-top: -45px;
    margin-right: 20px;
    font-size: 16px;
}

#content {
    background-color: #FFFBDF;
    margin: 20px;
    padding: 40px;
    border: 3px solid #cdcdcd;
}

#content img {
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#footer{
    background-color:#D1E5E1;
    border-radius: 15px;
    clear: both;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    text-align: center;
    width: 85%;
}