/*Template Stylesheet for DBC Blog*/
body{
    background-color:#DCDCDC;
}

p {
    padding-left: 5px;
    padding-right: 5px;
}

#header{
    background-color:#00CCFF;
    border-radius: 15px;
    /*curves all corners of div*/
    margin: 20px;
    width: 100%;
}

h1{
    font-family: Georgia, sans-serif;
    font-size: 40px;
    text-align:center;
    color: navy;
    margin-top: 20px;
}

#header li{
    display:inline;
    margin-top: -100px;

}

#header li a{
    color:#FFFFFF;
    text-decoration: none;
    padding: 5px;
    border: 3px solid #000000;
}

#header img{
    display:inline;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

#img1{
    margin-left: 50em;

}

#img2{
    margin-left:10px;
}

#img3{
    margin-left:10px;
}

#img4{
    margin-left:10px;
}

/*Left half of body (menu / about author)*/
#left{
    float:left;
    width:20%;
    white-space: normal;
    margin-left: auto;
}

/*Right half of body (blog post)*/
#right{
    float:right;
    width:70%;
    margin-right: auto;
    position: relative;
}

h2{
    font-family: Georgia, Helvetica, sans-serif;
    font-size: 24px;
    text-align:left;
    margin-top: 0.7em;
}

#date{
    text-align:right;
    margin-top: -45px;
    margin-right: 20px;
    font-size: 16px;
}

#content {
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
    white-space: normal;
}

#footer{
    background-color:#00BFFF;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    clear: both;
    padding: 0;
    position: relative;
    bottom: -20px;
    text-align: center;
    width: 100%;
}