/*Football Game CSS*/

#field {
  width: 1200px;
  height: 564px;
  background-image: url("../Users/admin/Desktop/DBC/mtvillwock.github.io/imgs/football_field.png");
  position: relative;
  margin: 20px;
  padding: 0px;
}

#packer {
  position: absolute;
  height: 100px;
  width: 100px;
  background-image: url("../Users/admin/Desktop/DBC/mtvillwock.github.io/imgs/packer_helmet.jpg")
  left: 0px;
  top: 0px;
}

#ball {
  position: absolute;
  height: 50px;
  width: 50px;
  background-image: url("../Users/admin/Desktop/DBC/mtvillwock.github.io/imgs/football.jpg")
  top: 550px;
  left: 100px;
}

#bear1 {
  position: absolute;
  height: 100px;
  width: 100px;
  background-image: url("../Users/admin/Desktop/DBC/mtvillwock.github.io/imgs/bears_helmet.jpg")
  left: 600px;
  top: 600px;
}

#bear2 {
  position: absolute;
  height: 100px;
  width: 100px;
  background-image: url("../Users/admin/Desktop/DBC/mtvillwock.github.io/imgs/bears_helmet_copy.jpg")
  left: 800px;
  top: 400px;
}
