/*mtvillwock.github.io stylesheet*/
html {

}

body {
  margin: 0;
  padding: 0;
  background-color: #73e8e7;
}

h1 {
  font-family: Georgia, Helvetica, sans-serif
  font-size: 40px;
  text-align: center;

}

h2 {
  font-family: Helvetica, monospace
  font-size: 30px;
  text-align: center;
}

h3 {
  font-family: Arial, sans-serif
  font-size: 24px;
  text-align: center;
}

div {
background-color: #e8e189;
margin: auto;
padding-top: 10px;
padding-bottom: 10px;
width: 75%;
white-space: normal;
}

p {
text-align: left;

}

ul {

}

li {

}

img {

}

a {

}

a:visited {
  color:#F5C04E
}

#header {
  background-color: #e8e189
  border-radius: 20px;
  color: #1410ff;
  height: 100px;
  position: fixed;
  width: 85%
}

#header li {
  display: inline;
  margin-top: -80px
}

#header li a {
  color: ##9FCA5F;
  text-decoration: none;
  padding: 5px;
}

#header img {
  display: inline;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

#twitter-top {
  margin-left: 50%;
}

#facebook-top {
  margin-left: 10px;
}

#linkedin-top {
  margin-left: 10px;
}

#googleplus-top {
  margin-left: 10px;
}

/*START index.html SPECIFIC CONTENT*/

/*END index.html SPECIFIC CONTENT*/

/*START blog.html SPECIFIC CONTENT*/

/*END blog.html SPECIFIC CONTENT*/

/*START profile.html SPECIFIC CONTENT*/

/*END profile.html SPECIFIC CONTENT*/

/*START work.html SPECIFIC CONTENT*/

/*END work.html SPECIFIC CONTENT*/

#CTA {
background-color:#F5C04E
border-radius: 20px;
color: #9FCA5F;
height: 100px;
width: 50%;

}

#footer {
  background-color: #e8e189
  clear: both;
  color: #1410ff;
  height: 100px;
  position: absolute;
  width: 100%
}

#footer li {
  display: inline;
}

#footer li a {
  color: ##9FCA5F;
  text-decoration: none;
  padding: 5px;
}