/*mtvillwock.github.io stylesheet*/
/* Commented out
html {

}
Because it isn't being used */

body {
  margin: 0;
  padding: 0;
  background-color: #0D355A;
}

h1 {
  font-family: Helvetica Neue, Courier New, sans-serif;
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

h2 {
  font-family: monospace;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  text-align: center;
}

div {
padding-top: 5px;
padding-bottom: 5px;
}

p {
white-space: normal;
}
/* Commenting out until need to be used
ul {

}

li {

}

img {

}
Delete comment to reactivate */

a {
  color: #1200B2;
}

a:visited {
  color: cornflowerblue;
}

#header {
  background-color: #D1E5E1;
  border-radius: 15px;
  color: #1200B2;
  margin-left: 7%;
  margin-right: auto;
  margin-top: 20px;
  position: relative;
  text-align: center;
  width: 85%;
}

#navbar ul {
  text-align: center;
}

#navbar li {
  display: inline;
}

li a {
  margin-right: 5px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

#social-icons {
  display: block;
  max-height: 0px;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  max-width: 20px;
  z-index: 1;
}

/*START index.html SPECIFIC CONTENT*/

#content-block {
  background-color: #FFFBDF;
  clear: both;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  position: relative;
  max-width: 70%;
  text-align: center;
}


#footer {
  background-color: #D1E5E1;
  border-radius: 15px;
  clear: both;
  color: #1200B2;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 7%;
  margin-right: auto;
  position: absolute;
  text-align: center;
  width: 85%;
}