/*mtvillwock.github.io stylesheet*/
/* Commented out
html {

}
Because it isn't being used */

body {
  margin: 0;
  padding: 0;
  background-color: #73e8e7;
}

h1 {
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;

}

h2 {
  font-family: monospace;
  font-size: 30px;
  text-align: center;
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  text-align: center;
}

div {
padding-top: 5px;
padding-bottom: 5px;
}

p {
white-space: normal;
}
/* Commenting out until need to be used
ul {

}

li {

}

img {

}

a {

}
Delete comment to reactivate */

a:visited {
  color: #78FF64;
}

#header {
  background-color: #e8e189;
  border-radius: 15px;
  color: #1410ff;
  height: 170px;
  margin-left: 7%;
  margin-right: auto;
  margin-top: 10px;
  position: relative;
  width: 85%;
}

#navbar li {
  display: inline;
}

li a {
  color: #7e51ff;
  margin-right: 5px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

#social-icons {
  display: block;
  max-height: 20px;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  max-width: 20px;
  z-index: 1;
}

/*START index.html SPECIFIC CONTENT*/

#content-block {
  background-color: #FFFFDB;
  clear: both;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  position: relative;
  max-width: 450px;
  text-align: center;
}

#content-block img {
  float: left;
  height: 100px;
  width: 100px;

}

/*END index.html SPECIFIC CONTENT*/

/* blog.html SPECIFIC CONTENT*/

/* profile.html SPECIFIC CONTENT*/

/* work.html SPECIFIC CONTENT*/

#CTA {
background-color:#F5C04E;
border-radius: 20px;
clear: both;
color: #9FCA5F;
height: 100px;
padding: 10px;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
max-width: 400px;
text-align: center;
}

#CTA img {
  float: left;
  max-height: 80px;
  max-width: 80px;
}

#footer {
  background-color: #e8e189;
  border-radius: 15px;
  clear: both;
  color: #1410ff;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 7%;
  margin-right: auto;
  position: absolute;
  text-align: center;
  width: 85%;
}