/*mtvillwock.github.io stylesheet*/
/* Commented out
html {

}
Because it isn't being used */

body {
  margin: 0;
  padding: 0;
  background-color: #73e8e7;
}

h1 {
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;

}

h2 {
  font-family: monospace;
  font-size: 30px;
  text-align: center;
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  text-align: center;
}

div {
padding-top: 10px;
padding-bottom: 10px;
}

p {
text-align: left;
white-space: normal;
}
/* Commenting out until need to be used
ul {

}

li {

}

img {

}

a {

}
Delete comment to reactivate */

a:visited {
  color: #78FF64;
}

#header {
  background-color: #e8e189;
  border-radius: 15px;
  color: #1410ff;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
  width: 85%;
}

#navbar {
  display: inline;
}

#header li a {
  color: #FF7C1F;
  text-decoration: none;
  padding: 5px;
}

#social-icons {
  display: block;
  height: 30px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  width: 30px;
  z-index: -1;
}

/*START index.html SPECIFIC CONTENT*/

#content-block {
  background-color: #FFFFDB;
  clear: both;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  position: relative;
  max-width: 70%;
  text-align: center;
}

/*END index.html SPECIFIC CONTENT*/

/*START blog.html SPECIFIC CONTENT*/

/*END blog.html SPECIFIC CONTENT*/

/*START profile.html SPECIFIC CONTENT*/

/*END profile.html SPECIFIC CONTENT*/

/*START work.html SPECIFIC CONTENT*/

/*END work.html SPECIFIC CONTENT*/

#CTA {
background-color:#F5C04E;
border-radius: 20px;
clear: both;
color: #9FCA5F;
height: 100px;
margin-left: auto;
margin-right: auto;
max-width: 50%;
text-align: center;
}

#footer {
  background-color: #e8e189;
  border-radius: 15px;
  clear: both;
  color: #1410ff;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  text-align: center;
  max-width: 85%;
}

#footer li {
  display: inline;
}

#footer li a {
  color: ##9FCA5F;
  margin-right: 5px;
  padding: 5px;
  text-decoration: none;
}