/* include your css here */
h3 {
        text-align: center;
        font-family: Georgia, Helvetica, monospace;
      }

      .header{
        background-color: navy;
        text-align: center;
        color: white;
        font-family: Verdana, Helvetica, monospace;
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
      }

      .content{
        background-color: #DDFFCC;
        padding-top: 150px;
        padding-bottom: 100px;
      }

      .left{
        background-color: #EEEEEE;
        float: left;
      }

      .right{
        background-color: #EEEEEE;
        float: right;
      }

      .column {
        margin: 20px;
        padding: 20px;
        width: 35%;
        display: inline-block;
      }

      .bottom{
        background-color: #AAFFDD;
        clear: both;
        overflow: auto;
        padding: 50px;
      }

      .reflection {
        background-color: #FFDDCC;
        margin: 20px;
        padding: 20px;
      }

      .footer{
        background-color: navy;
        clear: both;
        color: white;
        text-align: center;
        padding: 20px 0px;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
      }